
<%- include('header') %>
<div class="menu-tag simg-body4 simg-gray400"><a class="index-tag  simg-gray500" href="/">Home</a> > <a class="aboutUs-tag"  href="#">お問い合わせ</a></div>
<section class="contact-container">
       
  <h2 class="section-title simg-heading4 text-center simg-black">CONTACT US</h2>
  <p class="section-subtitle simg-body2 text-center simg-gray800 simg-opacity60">プロの XR コンサルタントがあなたの将来についてアドバイスします。</p>
  <div class="row p-3">
      <div class="contact-partner-item col simg-bg-white">
          <div class="contact-item-title  simg-title3 text-left simg-black">選定事業協業お問い合わせ</div>
          <div class="contact-item-subMessage">連絡先: 052-221-3001/3007</div>
          <div class="contact-item-subMessage">Eメール : simg@simglab.com</div>
      </div>
      <div class="contact-product-item col">
        <div class="contact-item-title simg-title3 text-left simg-black">製品とサービスの導入に関するお問い合わせ</div>
        <div class="contact-item-subMessage">連絡先: 052-221-3001/3007</div>
        <div class="contact-item-subMessage">Eメール : simg@simglab.com</div>
    </div>
  </div>
  <div class="contact-form pb-5">
      <%- include('contactform') %>
      
  </div>
</section> 
    
<div id="simg-templete-footer"><%- include('footer') %></div>
   
  

   
