<!-- contactus.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Slider</title>
</head>
<body>
    <h1>Get Slider</h1>
    <!-- Nhúng nội dung từ slide-show vào đây -->
    <div id="slideshow-content">
      <iframe src="http://localhost:3000/slide-show/1" width="100%" height="600px" frameborder="0"></iframe>
    </div>

    <!-- Các phần còn lại của trang contactus -->
</body>
</html>
