
<%- include('header') %>
<div class="menu-tag simg-body4 simg-gray400"><a class="index-tag  simg-gray500" href="/">Home</a> > <a class="aboutUs-tag"  href="#">Contact us</a></div>
<section class="contact-container">
       
  <h2 class="section-title simg-heading4 text-center simg-black">CONTACT US</h2>
  <p class="section-subtitle simg-body2 text-center simg-gray800 simg-opacity60">A professional XR consultant is here to tell you your future.</p>
  <div class="row p-3">
      <div class="contact-partner-item col simg-bg-white">
          <div class="contact-item-title simg-title3 text-left simg-black">Inquiries about collaboration on selected projects</div>
          <div class="contact-item-subMessage">Contact number: 052-221-3001/3007</div>
          <div class="contact-item-subMessage">Email : simg@simglab.com</div>
      </div>
      <div class="contact-product-item  col simg-bg-white">
          <div class="contact-item-title simg-title3 text-left simg-black">Product and service introduction inquiries</div>
          <div class="contact-item-subMessage">Contact number: 052-221-3001/3007</div>
          <div class="contact-item-subMessage">Email: simg@simglab.com</div>
      </div>
  </div>
  <div class="contact-form pb-5">
      <%- include('contactform') %>
      
  </div>
</section> 
    
<div id="simg-templete-footer"><%- include('footer') %></div>
   
  

   
