
<%- include('header') %>
<div class="menu-tag"><a class="index-tag" href="/">홈</a> > <a class="aboutUs-tag"  href="#">비즈니스</a></div>
<section class="contact-container">
       
  <h2 class="section-title">CONTACT US</h2>
  <p class="section-subtitle">A professional XR consultant is here to tell you your future.</p>
  <div class="row p-3">
      <div class="contact-partner-item col">
          <div class="contact-item-title">Information</div>
          <div class="contact-item-subMessage">Contact number: 052-221-3001/3007</div>
          <div class="contact-item-subMessage">Email : simg@simglab.com</div>
      </div>
      <div class="contact-product-item col">
          <div class="contact-item-title">Information</div>
          <div class="contact-item-subMessage">Contact number: 052-221-3001/3007</div>
          <div class="contact-item-subMessage">Email: simg@simglab.com</div>
      </div>
  </div>
  <div class="contact-form pb-5">
      <%- include('contactform') %>
      
  </div>
</section> 
    
<div id="simg-templete-footer"><%- include('footer') %></div>
   
  

   
