
<%- include('header') %>
<div class="menu-tag"><a class="index-tag" href="/">홈</a> > <a class="aboutUs-tag"  href="#">비즈니스</a></div>
<section class="contact-container">
       
  <h2 class="section-title">CONTACT US</h2>
  <p class="section-subtitle">준비된 XR전문 컨설턴트가 여러분들의 미래를 제시합니다.</p>
  <div class="row p-3">
      <div class="contact-partner-item col">
          <div class="contact-item-title">파트너 협업 문의</div>
          <div class="contact-item-subMessage">문의 번호 : 052-221-3001/3007</div>
          <div class="contact-item-subMessage">이메일 : simg@simglab.com</div>
      </div>
      <div class="contact-product-item col">
          <div class="contact-item-title">파트너 협업 문의</div>
          <div class="contact-item-subMessage">문의 번호 : 052-221-3001/3007</div>
          <div class="contact-item-subMessage">이메일 : simg@simglab.com</div>
      </div>
  </div>
  <div class="contact-form pb-5">
      <%- include('contactform') %>
      
  </div>
</section> 
    
<div id="simg-templete-footer"><%- include('footer') %></div>
   
  

   
